.about {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  flex: 1;
}

.btn3 {
  margin-top: 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  width: 140px;
  height: 50px;
}
.btn3:hover {
  margin-top: 20px;
  margin-right: 10px;
  background-color: #87bdd8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  width: 140px;
  height: 50px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.per {
  padding-top: 40px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.per .per1 {
  padding-right: 80px;
  padding-top: 30px;
  font-weight: 600;
  font-size: 30px;
  color: black;
}
.per p {
  color: black;
  text-align: center;
  margin-right: 45px;
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .text-section h1 {
    font-size: 40px;
  }
  .text-section p {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1024px) {
  .per {
    flex-direction: column;
    align-items: center;
  }

  .per .per1 {
    padding-right: 0;
    padding-top: 20px;
    font-size: 25px;
  }

  .per p {
    margin: 20px 0;
    font-size: 25px;
  }

  .text-section h1 {
    font-size: 40px;
  }
  .text-section p {
    font-size: 30px;
  }
}

@media (max-width: 998px) {
  .text-section h1 {
    font-size: 30px;
  }
  .text-section p {
    font-size: 25px;
  }

  .about {
    flex-direction: column;
  }

  .about-content {
    display: flex;
    justify-content: space-between;

    padding: 20px;
  }

  .btn3 {
    width: 130px;
    height: 40px;
  }
  .btn3:hover {
    width: 130px;
    height: 40px;
  }

  .per .per1 {
    font-size: 20px;
  }
  .per p {
    font-size: 20px;
  }
}

@media (max-width: 871px) {
  .text-section h1 {
    font-size: 33px;
  }
  .text-section p {
    font-size: 18px;
  }

  .per {
    padding-top: 40px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .per .per1 {
    font-size: 15px;
  }
  .per p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-section h1 {
    font-size: 30px;
  }
  .text-section p {
    font-size: 15px;
  }
  .per {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .about {
    text-align: center;
  }
}
